# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ambiente
.env
.env.*.local

# Diretórios de build
dist/
build/
coverage/
.next/
.out/
.temp/
.cache/

# Sistema
.DS_Store
Thumbs.db

# Editor de código
.vscode/
.idea/

# Testes
jest-cache/
jest-output/
test-results/

# Arquivos do sistema operacional
*.swp
*.swo

# Outros
*.local
*.log
*.tgz

# Arquivos de lock alternativos (caso use apenas um gerenciador)
package-lock.json
yarn.lock
pnpm-lock.yaml
